@charset "UTF-8";
.cedula {
  border: none;
  border-radius: 0px;
  border-bottom: solid 3px #004a87;
  font-size: 25px;
}
.cedula::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: transparent;
  opacity: 1;
  /* Firefox */
}
.cedula:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: transparent;
}
.cedula::-ms-input-placeholder {
  /* Microsoft Edge */
  color: transparent;
}
.cedula:focus {
  outline: 0px;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
}

.btn-access {
  border: solid 3px #004a87;
  border-radius: 35px;
  height: 50px;
  line-height: 45px;
  font-size: 18px;
  color: #004a87;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-access:hover {
  background-color: #004a87;
  color: #ffffff;
}

.options {
  border: solid 2px #004a87;
  border-radius: 15px;
  height: 30px;
  line-height: 25px;
  font-size: 12px;
  color: #004a87;
  text-transform: uppercase;
  cursor: pointer;
}
.options:hover {
  background-color: #004a87;
  color: #ffffff;
}

.menu-options {
  padding-top: 16px;
}

@font-face {
  font-family: avenir;
  src: url("fonts/AvenirLTStd-Book.otf");
}
html, body {
  height: 100%;
}

body {
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: auto;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding-bottom: 100px;
  /* El tamaño del footer para evitar el sobreposicionamiento */
}

#footer {
  width: 100%;
  height: 100px;
  position: absolute;
  background: #004a87;
  font-size: 10px;
  padding-top: 20px;
  color: #a1d1ff;
  bottom: 0;
  left: 0;
}

.title {
  border-top: solid 3px #004a87;
  border-bottom: solid 3px #004a87;
  height: 70px;
  color: #004a87;
}
.title h3 {
  line-height: 60px;
}

#login .container #login-column #login-box {
  max-width: 600px;
  height: 320px;
}

#login .container #login-column #login-box #login-form {
  padding: 20px;
}

.txt-app {
  color: #004a87;
}

.medicine {
  margin-left: auto;
  margin-right: auto;
}

.txt-info {
  color: #004a87;
  font-size: 16px;
}

.title-medicine {
  color: #004a87;
  font-size: 25px;
}

.sub-info {
  color: #004a87;
  font-size: 14px;
}

.p-info {
  font-size: 14px;
}