.btn-access {
    @include border($app, 3px );
    border-radius: 35px;
    @include box(50px, 45px, 18px, #5b5756);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $app;
        color: $base;
    }
}

.options {
    @include border(transparent, 2px );
    border-radius: 15px;
    @include box(30px, 25px, 12px, $app);
    text-transform: uppercase;
    cursor: pointer;
    
    &:hover {
        background-color: $app;
    }
    
    &:hover a {
        background-color: $app;
        color: $base !important;
    }
}

.options a { 
    text-decoration: none;
    color: #5a5655;
}

.opt-active {
    @include border($app, 2px );
}

.menu-options {
    padding-top: 16px;
}