.btn-access {
    @include border($app, 3px );
    border-radius: 35px;
    @include box(50px, 45px, 18px, $app);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $app;
        color: $base;
    }
}

.options {
    @include border($app, 2px );
    border-radius: 15px;
    @include box(30px, 25px, 12px, $app);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: $app;
        color: $base;
    }
}

.menu-options {
    padding-top: 16px;
}